ClientBagSale/Connected Services/ServiceReference1/BagSale2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BagSale" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BagSale" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduk">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Produk" nillable="true" type="tns:Produk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduk" nillable="true" type="tns:ArrayOfProduk" />
  <xs:complexType name="Produk">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deksripsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDProduk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kuota" type="xs:int" />
      <xs:element minOccurs="0" name="NamaProduk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produk" nillable="true" type="tns:Produk" />
  <xs:complexType name="ArrayOfPemesanan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pemesanan" nillable="true" type="tns:Pemesanan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPemesanan" nillable="true" type="tns:ArrayOfPemesanan" />
  <xs:complexType name="Pemesanan">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JumlahTransaksi" type="xs:int" />
      <xs:element minOccurs="0" name="NamaCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoTelpon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produk" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pemesanan" nillable="true" type="tns:Pemesanan" />
  <xs:complexType name="ArrayOfDataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRegister" nillable="true" type="tns:DataRegister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataRegister" nillable="true" type="tns:ArrayOfDataRegister" />
  <xs:complexType name="DataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRegister" nillable="true" type="tns:DataRegister" />
</xs:schema>