ClientBagSale/Connected Services/ServiceReference1/BagSale.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bagsale2a.com:8012/BagSale.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BagSale" />
  <xs:element name="pemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NamaCustomer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoTelpon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JumlahPemesanan" type="xs:int" />
        <xs:element minOccurs="0" name="IDProduk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pemesananResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Namacustomer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="No_telpon" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPemesananResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDTransaksi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePemesananResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Produk">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProdukResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BagSale" minOccurs="0" name="ProdukResult" nillable="true" type="q1:ArrayOfProduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pemesanan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BagSale" minOccurs="0" name="PemesananResult" nillable="true" type="q2:ArrayOfPemesanan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DataRegistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BagSale" minOccurs="0" name="DataRegistResult" nillable="true" type="q3:ArrayOfDataRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>